<div><%= f.label :name %><br/>
  <%= f.text_field :name, autofocus: true, required: true %></div>
<div>Employee Code<br/>
  <%= f.number_field(:employee_code) %></div>


<div class="field">
  <%= f.label :email %><br/>
  <%= f.email_field :email, autofocus: true, required: true %>
</div>

<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br/>
  <%= f.password_field :password, autocomplete: "off", required: true%>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, autocomplete: "off", required: true%>
</div>

<div><%= f.label :manager %><br/>

  <%= f.select :manager_id,
               options_for_select(@managers.map { |v| [v.name, v.id] }), :prompt => "" %>
</div>

<div>Casual Leaves Applicable<br/>
<%= f.number_field(:casual, :step => 0.5) %></div>

<div>Sick Leaves Applicable<br/>
  <%= f.number_field(:sick, :step => 0.5) %></div>
<div>Privilege Leaves Applicable<br/>
  <%= f.number_field(:privilege, :step => 0.5) %></div>

<%= f.label :Role %><br/>
<% if @roles_available %>
    <ul>
      <% @roles_available.each do |role| %>

              <li><%= check_box_tag 'role[]', role.id %><%= role.name %>
          </li>
      <% end %>
    </ul>
<% end %>

<div>
  <%= f.label "Joining Date" %><br/>
  <%= f.date_select :join_date %>
</div><br/>

<script>
    $('form#new_user').on('submit', function(e) {
        if($('#user_password').val() != $('#user_password_confirmation').val()) {
            alert('Password and confirm password don\'t match');
            e.preventDefault();
        }
    })
</script>
