<table>
  <tr>
    <th>
      From Date
    </th>
    <th>
      To Date
    </th>
    <th>
      Leave Type
    </th>
    <th>
      Days
    </th>
    <th>
      Reason
    </th>
    <th>
      Status
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% attendances.each do |approval|%>
      <tr>
        <td>
          <%= date_format(approval.start_date) %>
        </td>
        <td>
          <%= date_format(approval.end_date) %>
        </td>
        <td>
          <%= approval.is_leave_or_wfh ? 'Leave' : 'Work From Home' %>
        </td>
        <td>
          <%= approval.days %>
        </td>
        <td>
          <%= approval.reason %>
        </td>
        <td>
          <%= attendance_current_status(approval) %>
        </td>

        <td>

          <%= link_to("show", {:controller => 'attendances', :action => 'show', :id => approval.id}, :class => "actions") %>
          <% if (attendance_current_status(approval).equal?(:pending)) %>
              <%= link_to("edit", edit_attendance_path(approval.id), :class => "actions") %>
              <%= link_to("delete", {:controller => 'attendances', :action => 'destroy', :id => approval.id}, :method => :delete, :class => "actions") %>
          <% end %>
          <% if (attendance_current_status(approval).equal?(:rejected)) %>
              <%= link_to("resubmit", new_attendance_path(old_id: approval.id), :class => "actions") %>
          <% end %>

        </td>


      </tr>
  <% end %>

</table>

<script>
    $(document).ready(function() {
        click_approval();
    })
</script>