<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      From Date
    </th>
    <th>
      To Date
    </th>
    <th>
      Leave Category
    </th>
    <th>
      Days
    </th>
    <th>
      Leave Type
    </th>
    <th>
      Reason
    </th>
    <th>
      Status
    </th>
  </tr>
  <% attendances.each do |approval| %>
      <tr>
        <td>
          <%= approval.user.name %>
        </td>
        <td>
          <%= date_format(approval.start_date) %>
        </td>
        <td>
          <%= date_format(approval.end_date) %>
        </td>
        <td>
          <%= approval.is_leave_or_wfh ? 'Leave' : 'Work From Home' %>
        </td>
        <td>
          <%= approval.days %>
        </td>
        <td>
          <%= approval.leave_type.name %>
        </td>
        <td>
          <%= approval.reason %>
        </td>
        <td>
          <%= attendance_current_status(approval) %>
        </td>
      </tr>
  <% end %>

</table>

<%= leaves_total.to_s %><br>
<%= wfh.to_s %>


<% if false %>

    <% att_wfh = Attendance.where('is_leave_or_wfh = ?', false).group('user_id') %>
<% att_leaves = Attendance.where('is_leave_or_wfh = ?', true).group('user_id') %>


<% user_leaves_num = att_leaves.sum('days') %>
<% user_wfh_num = att_wfh.sum('days') %>
<br/>

<% user_leaves_num.each do |att| %>
    <% uid = att.first %>
    <% if uid != current_user.id %>
        <% uname = User.find(uid).name %>
        <%= uname + " took " + att.second.to_s + " leaves" %>
    <% end %>
    <br/>
<% end %>

<% user_wfh_num.each do |att| %>
    <% uid = att.first %>
    <% if uid != current_user.id %>
        <% uname = User.find(uid).name %>
        <%= uname + " took " + att.second.to_s + " work from home" %>
    <% end %>
    <br/>
<% end %>
<% end %>

<script>
    $(document).ready(function () {
        click_approval();
    })
</script>