<%= link_to 'Home', root_path %>
<table>
  <tr>
    <th>Member Name</th><th>Leaves Taken</th><th>Work From Home Taken</th><th>Total Leaves</th><th>Leaves Remaining</th>
  </tr>
  <% current_user.team_members.each do |member| %>
      <tr>
        <td><%=member.name%></td>
        <% leaves = member.attendances.where(:is_leave_or_wfh => true).where(:approval_status => true).sum(:days) %>
        <td><%= leaves %></td>
        <td><%= member.attendances.where(:is_leave_or_wfh => false).where(:approval_status => true).sum(:days) %></td>
        <% leaves_applicable =  member.sick.to_f + member.casual.to_f + member.privilege.to_f %>
        <td><%= leaves_applicable %></td>
        <td><%= leaves_applicable.to_f - leaves.to_f %></td>
      </tr>
  <% end %>
</table>