<style>
    a.img_style:hover {
        background: transparent;
    }

</style>
<% if is_admin %>
    | <%= link_to "Manage Roles", {:controller => 'roles'}, :class => 'navbar-link' %>
    <%= link_to "Show All Users", users_path %>
<% end %>
<br/><br/>
<br/>

<%= button_to "View Available Leaves", available_leaves_attendances_path %>
<br/>

<%= button_to "View My Leave Requests", my_requests_attendances_path %>
<br/>
<%= button_to "Submit New Request", apply_leave_attendances_path %>

<% if current_user.roles.include?(Role.find_by_name(:manager)) %>
    <br/>
    <%= button_to "Pending Approvals", pending_approvals_attendances_path %>
    <br/>
    <%= button_to "My Team Members", my_team_dashboard_index_path %>
<% end %>

<% if current_user.roles.include?(Role.find_by_name(:Admin)) %>
    <br/>
    <%= button_to "Create new user", {action: 'new'} %>
<% end %>
<br/>

<%= button_to "Search Leave Requets", search_pending_approvals_attendances_path , :style => 'float:left' %>

<a href="<%= search_pending_approvals_attendances_path %>" class="img_style" >
  <%= image_tag "search_glass.png", :class => "img_style", :name => "search_request" %>
</a>
<div class="clear" style="clear:both"></div>
<br/>
<br/>

<script>
    $(document).ready(function () {
        attach_Click_event();
    })
</script>