<% if is_admin %>
    | <%= link_to "Manage Roles", {:controller => 'roles'}, :class => 'navbar-link' %>
<% end %>
<br/><br/>
<br/><button type="button" class="tab_button" name="pending_requests">View My Pending Requests</button>

<button type="button" class="tab_button" name="new_request">Submit New Request</button>

<% if current_user.roles.include?(Role.find_by_name(:manager)) %>
    <button type="button" class="tab_button" name="see_requests">Pending Approvals</button>
<% end %>

<%= image_tag "search_glass.png", :class => "tab_button", :name => "search_request"%>
<br/>
<br/>
<br/>

<div id="pending_requests" class="content_section" style="display: none;">
  <table>
    <tr>
      <td>
        From Date
      </td>
      <td>
        To Date
      </td>
      <td>
        Status
      </td>
      <td>
        Actions
      </td>
    </tr>
    <% current_user.attendances.each do |attendance|%>
        <tr>
          <td>
            <%= date_format(attendance.start_date) %>
          </td>
          <td>
            <%= date_format(attendance.start_date + attendance.days.days) %>
          </td>
          <td>
            <%= attendance_current_status(attendance) %>
          </td>
          <td>
            <%= link_to("show",{:controller => 'attendances', :action => 'show', :id => attendance.id},:class=>"actions")%>
            <% if(attendance_current_status(attendance).equal?(:pending))%>
            <%=link_to("edit", {:controller => 'attendances', :action => 'edit', :id => attendance.id},:class=>"actions") %>
            <%=link_to("delete", {:controller => 'attendances', :action => 'destroy', :id => attendance.id},:method=> :delete,:class=>"actions") %>
          <% end %>
                </td>
        </tr>
    <% end %>

  </table>
</div>

<div id="new_request" class="content_section" style="display: none;">
  <%= form_for(@attendance, :url => 'attendances') do |f| %>
      <%= render :partial => 'attendances/form', :locals =>  {:f =>f} %>
  <%end%>

</div>

<div id="see_requests" class="content_section" style="display: none;">
  <% if current_user.roles.include?(Role.find_by_name(:manager)) %>
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
       From Date
      </th>
      <th>
        To Date
      </th>
      <th>
        Days
      </th>
      <th>
        Reason
      </th>
      <th>
        Status
      </th>
      <th>
        Actions
      </th>
    </tr>
    <% current_user.approvals.where(approval_status: nil).each do |approval|%>
    <tr>
      <td>
        <%= approval.user.name %>
      </td>
      <td>
        <%= date_format(approval.start_date) %>
      </td>
      <td>
        <%= date_format(approval.start_date + approval.days.days) %>
      </td>
      <td>
        <%= approval.days %>
      </td>
      <td>
        <%= approval.reason %>
      </td>
      <td>
        <%= attendance_current_status(approval) %>
      </td>
      <td id="approval<%= approval.id%>">

        <button class="approvals">Approve</button>
        <button class="approvals">Reject</button>
        <button class="approvals">Comment</button>

        <%= form_for(@attendance,:remote=>true, :url =>"dashboard/approve", :html=>{:class => "approval_comments"} ) do |f|%>
            <div class="field">
              <%= f.label :comments %><br />
              <%= f.text_area :comments, :cols=>10, :rows=>5 %>
            </div>
            <%= hidden_field_tag("approval_type","") %>
            <%= hidden_field_tag("approval_id",approval.id) %>

              <%= f.submit "OK" %>
        <% end %>

      </td>
    </tr>
    <% end %>

  </table>
  <% end %>

</div>

<div class="content_section" id="search_request" style="display: none;">
 <% if current_user.roles.include?(Role.find_by_name(:manager)) %>
  <%= form_tag("dashboard/search",:remote => true,:html=>{:id=>"search_form"}) do %>
      <%= label_tag "User: " %><%= text_field_tag :name  %><br>
          <%= label_tag "Start Date: " %><%= date_select(:start,:start_date) %>
          <%= label_tag "End Date: " %><%=date_select(:end,:end_date) %><br>
          <%= label_tag "Status: " %><br/>
          <%= check_box_tag :pending %><%= label_tag "pending " %>
          <%= check_box_tag :approved %><%= label_tag "approved " %>
          <%= check_box_tag :rejected %><%= label_tag "rejected " %>
          <%= check_box_tag :any %><%= label_tag "any " %><br>
          <%= submit_tag("search")%>

      <%end%>
  <% end %>
</div>

<script>
  $(document).ready(function() {
      attach_Click_event();
      click_approval();
  })
</script>