<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :on_date %><br />
    <%= f.date_select :on_date %>
  </div>
  <div class="field">
    <%= f.label :days %><br />
    <%= f.number_field :days, :class => 'text_field', :step => '1' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
