<h2>Edit Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend>Basic info</legend>

    <div class="row">
      <div class="large-4 columns">
        <label> Email
          <%= f.email_field :email, :autofocus => true, :disabled => true %>
        </label>
      </div>

      <div class="large-4 columns">
        <label> Name
          <%= f.text_field :name, :disabled => true %>
        </label>
      </div>

      <div class="large-4 columns">
        <label> Manager
          <% if !resource.manager.blank? %>
            <input type="text" disabled="disabled" value="<%= resource.manager.name %>">
          <% end %>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <div class="row collapse">
          <label> Joining Date
            <input type="text" disabled="disabled" value="<%= resource.join_date %>">
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Change password</legend>

    <div class="row">
      <div class="large-4 columns">
        <label> Password <small><i>(leave blank if you don't want to change it)</i></small>
          <%= f.password_field :password, :autocomplete => "off" %>
        </label>
      </div>

      <div class="large-4 columns">
        <label> Password Confirmation
          <%= f.password_field :password_confirmation %>
        </label>
      </div>

      <div class="large-4 columns">
        <label> Current Password <small><i>(its needed to confirm your changes)</i> </small>
          <%= f.password_field :current_password %>
        </label>
      </div>
    </div>

    <%= f.submit "Update", class: 'button ' %>
  </fieldset>

<% end %>
