<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  A new Request for  <b><%= @attendance.is_leave_or_wfh ? "leave" : "work from home" %></b> has been submitted from date
  <b><%= date_format(@attendance.start_date) %></b> to <b><%=date_format(@attendance.start_date + @attendance.days.days)%></b>
  has been submitted by <b><%=@attendance.user.name%></b>.
  <br>
</p>
<p>
 Reason : <%= @attendance.reason %>
</p>
<br/>
See Pending Requests
<%= link_to "here", pending_approvals_attendances_url %>

</body>
</html>