<%= link_to "Back", :back %>
<h2>Edit <%= @user.name %></h2>


<%= form_for(@user) do |f| %>

    <div>

      <div><%= f.label :email %><br/>
        <%= f.email_field :email, :autofocus => true %></div>
      <div>
        <div><%= f.label :name %><br/>
          <%= f.text_field :name %></div>
        <div>Employee Code<br/>
          <%= f.number_field(:employee_code) %></div>
        <div>Casual Leaves Applicable<br/>
          <%= f.number_field(:casual, :step => 0.25) %></div>

        <div>Sick Leaves Applicable<br/>
          <%= f.number_field(:sick, :step => 0.25) %></div>
        <div>Privilege Leaves Applicable<br/>
          <%= f.number_field(:privilege, :step => 0.25) %></div>
        <%= f.label :Role %><br/>
        <% if @roles_available %>
            <ul>
              <% @roles_available.each do |role| %>
                  <% if @user.roles.include?(role) %>
                      <li><%= check_box_tag 'role[]', role.id, :checked => true %><%= role.name %>
                  <% else %>
                      <li><%= check_box_tag 'role[]', role.id %><%= role.name %>
                  <% end %>
                  </li>
              <% end %>
            </ul>
        <% end %>
        <% manager_name = @user.manager.nil? ? @default_manager_name : @user.manager.name %>
        <% manager_id = @user.manager.nil? ? @default_manager_id : @user.manager.id %>

        <% if @managers %>
            <div><%= f.label :manager %><br/>

              <%= f.select :manager_id,
                           options_for_select(@managers.map { |v| [v.name, v.id] }, [manager_name, manager_id]) %>
            </div>
        <% end %>
      </div>
    </div><br/>

    <div class="actions">
      <%= f.submit "Update details" %>
    </div>

<% end %>

