<%= link_to "Back", :back %>
<h2>Edit <%= @user.name %></h2>


<%= form_for(@user) do |f| %>

    <div>

      <div><%= f.label :email %><br/>
        <%= f.email_field :email, :autofocus => true %></div>
      <div>
        <div><%= f.label :name %><br/>
          <%= f.text_field :name %></div>
        <div>Employee Code<br/>
          <%= f.number_field(:employee_code) %></div>
        <div>Leaves Applicable<br/>
          <%= f.number_field(:leaves_applicable, :step => 0.5) %></div>
        <%= f.label :Role %><br/>
        <% if @roles_available %>
            <ul>
              <% @roles_available.each do |role| %>
                  <% if @user.roles.include?(role) %>
                      <li><%= check_box_tag 'role[]', role.id, :checked => true %><%= role.name %>
                  <% else %>
                      <li><%= check_box_tag 'role[]', role.id %><%= role.name %>
                  <% end %>
                  </li>
              <% end %>
            </ul>
        <% end %>

        <% if @managers %>
            <div><%= f.label :manager %><br/>

              <%= f.select :manager_id,
                           options_for_select(@managers.map { |v| [v.name, v.id] }, [@user.manager.name, @user.manager.id]) %>
            </div>
        <% end %>
      </div>
    </div><br/>

    <div class="actions">
      <%= f.submit "Update details" %>
    </div>

<% end %>

