<%= link_to 'Home', root_path %>

<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      Manager
    </td>
    <td>
      Email
    </td>
    <td>
      Date of Joining
    </td>
    <td>
      Role(s)
    </td>
    <td>
      Action
    </td>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <% if !user.manager.blank? %>
          <%= user.manager.name%>
          <% end%>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.join_date %>
        </td>
        <td>
          <%= user.roles.collect(&:name).join(', ') %>
        </td>
        <td>
          <%= link_to("edit",edit_user_path(user), {action: 'update'}, :class => 'actions') %>
          <%= link_to("delete", user_path(user), :method => 'delete', :class => 'action_d', :'data-name' => user.name) %>
        </td>
      </tr>
  <% end %>
</table>

<script>
    $('.action_d').click(function(e) {
        alert('Are you sure you want to delete ' + $(this).data('name') + '?');
    });
</script>