<%#= link_to 'Home', root_path %>
<h2>All Users</h2>

<table>
  <thead>
    <th width="15%">Name</th>
    <th width="5%">Employee Code</th>
    <th>Manager</th>
    <th>Email</th>
    <th>Date of Joining</th>
    <th>Role(s)</th>
    <th width="18%">Action</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.employee_code %></td>
        <td><% user.manager.name if !user.manager.blank? %></td>
        <td><%= user.email %></td>
        <td><%= user.join_date %></td>
        <td><%= user.roles.collect(&:name).join(', ') %></td>
        <td>
          <%= link_to("edit",edit_user_path(user), class: 'button tiny secondary') %>
          <%= link_to("delete", user_path(user), method: 'delete', class: 'button tiny alert', data: {confirm: "Are you sure you want to delete #{user.name}?"}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
