
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :days %><br />
    <%= f.number_field :days %>
  </div>
  <div class="field">
    <%= f.label "Leave or work from home?" %><br />
    <%= f.radio_button :is_leave_or_wfh, true  %>
    <%= f.label "Leave", :value => :is_leave_or_wfh %>
    <%= f.radio_button :is_leave_or_wfh, false  %>
    <%= f.label "Work From Home", :value => :is_leave_or_wfh %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_area :reason, :cols => 20, :rows=>5 %>
  </div>

  <div>
    <%= f.submit %>
  </div>

