<h2>Search Leave Requests</h2>

<div>
  <% if current_user.roles.include?(Role.find_by_name(:manager)) || current_user.roles.include?(Role.find_by_name(:admin)) %>
    <%= form_tag(dashboard_search_path , :remote => true, :id => "search_form") do %>

      <div class="row">
        <div class="large-4 columns">
          <div class="row">
            <label> User:
              <%= text_field_tag(:name) %>
            </label>
          </div>
          <% if current_user.is_admin? %>
            <div class="row">
              <label> Manager
              <%= text_field_tag(:manager_name) %>
              </label>
            </div>
          <% end %>
          <div class="row">
            <label> Status</label>
            <%= check_box_tag :pending %><%= label_tag "pending " %>
            <%= check_box_tag :approved %><%= label_tag "approved " %>
            <%= check_box_tag :rejected %><%= label_tag "rejected " %>
          </div>
          <div class="row">
            <label> Leave Category</label>
            <%= check_box_tag :leave %><%= label_tag "Leave " %>
            <%= check_box_tag :wfh %><%= label_tag "Work From Home " %>
          </div>
          <div class="row">
            <label> Leave Type</label>
            <%= check_box_tag :casual %><%= label_tag "Casual " %>
            <%= check_box_tag :sick %><%= label_tag "Sick " %>
            <%= check_box_tag :privilege %><%= label_tag "Privilege " %>
          </div>
        </div>

        <div class="large-4 columns">
          <label> Start Date:
            <a class="button tiny tiny_01 reset_start_date">Reset</a>
            <%= date_select(:start, :start_date , {:include_blank => true, :default => nil}) %>
          </label>
        </div>

        <div class="large-4 columns">
          <label> End Date:
            <a class="button tiny tiny_01 reset_end_date">Reset</a>
            <%= date_select(:end, :end_date, {:include_blank => true, :default => nil}) %>
          </label>
        </div>
      </div>
      <br>
      <div class="row">
        <%= submit_tag "search", class: 'button' %>
      </div>
    <% end %>
  <% end %>
</div>

<span id="search_results_count" style="display: block;"></span>
<div id="search_results"></div>
