<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Leaves
      </th>
      <th>
        WFH
      </th>
    </tr>
  </thead>
  <tbody>
    <% if !@manager.team_members.blank? %>
      <% @manager.team_members.each do |team_member| %>
        <tr>
          <td>
            <%= team_member.name %>
          </td>
          <td>
            <%= team_member.leaves_for_month(Date.today.month, Date.today.year) %>
          </td>
          <td>
            <% month_leaves = team_member.leaves_for_month(Date.today.month, Date.today.year) %>
            <% month_leaves.each do |leave| %>
              <div><%= leave %></div>
            <% end %>
            <div><b>Total:</b> <%= month_leaves.count %></div>
          </td>
          <td>
            <% month_wfhs =  team_member.wfh_for_month(Date.today.month, Date.today.year) %>
            <% month_wfhs.each do |wfh| %>
              <div><%= wfh %></div>
            <% end %>
            <div><b>Total:</b> <%= month_wfhs.count %></div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>