<!DOCTYPE html>
<html>
<head>
  <title>EmployeeManagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.name %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'   %>
  <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  <%=yield %>

  <!--<div id="mySliderTabs">
    &lt;!&ndash; Unordered list representing the tabs &ndash;&gt;
    <ul>
      <li><a href="#canyon">The Grand Canyon</a></li>
      <li><a href="#taj">The Taj Mahal</a></li>
      <li><a href="#bigben">Big Ben</a></li>
    </ul>

    &lt;!&ndash; Afterwards, include the div panels representing the panels of our slider &ndash;&gt;
    <div id="canyon">
      <h3>The Grand Canyon</h3>
      &lt;!&ndash; rest of the panel content &ndash;&gt;
    </div>
    <div id="taj">
      <h3>The Taj Mahal</h3>
      &lt;!&ndash; rest of the panel content &ndash;&gt;
    </div>
    <div id="bigben">
      <h3>Big Ben</h3>
      &lt;!&ndash; rest of the panel content &ndash;&gt;
    </div>
  </div>

  <script>var slider = $("div#mySliderTabs").sliderTabs();</script>-->

</body>
</html>
